.fa-heart:hover{
    font-weight: bold;
    animation: like;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: .6s;
    cursor: pointer;
}

.menu-card{
    article{
        &:hover{
            .price{
                transition: transform .2s ease-out;
                transform: translateX(-150%);
            }
            .appear{
                animation: appear;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-duration: .2s;
            }
            .fa-check-circle{
                animation: valid;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
                animation-duration: .2s;
                animation-delay: .2s;  
            }
            .detail .description{
                animation: reduction;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-duration: .2s;
            }
        }
    }
}