footer{
    font-size: 1em;
    background-color: $color-footer;
    color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 1em;
        @media (min-width: 768px) {
            font-size: 1.1em;
            display: flex;
            flex-direction: column;
        }
        @media (min-width: 992px){
            font-size: 1.3em;
        }

    ul{
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            text-align: center;
            padding-left: 0;
            padding-top: 1.5em;
        }
    }

    li{
        padding-bottom: .7em;
    }

    .fa-utensils{
        transform: scale(.9,.7);
    }

    .fa-hands-helping{
        transform: scale(.6,.7);
    }

    i{
        width: 15px;
    }

    span{
        margin-left: 40px;
            @media (min-width: 768px) {
                margin: 0;
                align-self: center;
            }
    }
    
    a{
        color: whitesmoke;
    }
}
