footer{
    font-size: 1em;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 1em;

    li{
        padding-bottom: 10px;
    }

    .fa-utensils{
        transform: scale(.9,.7);
    }

    .fa-hands-helping{
        transform: scale(.6,.7);
    }

    i{
        width: 15px;
    }

    span{
        margin-left: 40px;
    }
    
    a{
        color: whitesmoke;
    }
}
