button{
        margin-top: .7em;
        padding: 1em;
        color: whitesmoke;
        font-size: 1em;
        background: linear-gradient(160deg, $color-secondary, $color-primary);
        border-radius: 2em;
        border: none;
        box-shadow: 4px 4px 4px 4px darken($color-background, 20%);
    }

.command{
    background-color: $color-background;
    padding-top: 1.5em;
    text-align: center;
        button{
            width: 60%;

                @media (min-width: 768px){
                    height: 3em;
                    font-size: 1.4em;
                }
        }
}