@font-face{
	font-family: "shrikhand";
	src: url(/fonts/Shrikhand-Regular.ttf) format('truetype');
}

@font-face{
	font-family: "roboto";
	src: url(/fonts/Roboto-Medium.ttf) format('truetype');
	font-weight: 500;
}

@font-face {
    font-family: "roboto-light";
    src: url(/fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}

h1{
    font-family: "shrikhand";
        @media (min-width: 768px) {
            font-size: 3em;
        }
        @media (min-width: 992px){
            font-size: 4em;;
        }
}

.index{
    h1{font-family: roboto;}

}

.intro span{
    font-family: roboto;
}

.fonction{
    p{
        font-family: roboto;
    }
}

h2, h3, strong{
    font-family: roboto;
}

h2{
    font-size: 1.4em;
    margin-left: 5%;
        @media (min-width: 768px) {
            font-size: 2.4em;
        }
}

h3{
    font-size: 1.1em;
        @media (min-width: 768px) {
            font-size: 1.4em;
        }
        @media (min-width: 992px){
            font-size: 1.6em;
        }
}

p, nav li{
    font-family: roboto-light;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

footer span{
    font-family: "shrikhand";
    font-size: 1.6em;
    color: whitesmoke;
        @media (min-width: 768px) {
            font-size: 2em;
        }
        @media (min-width: 992px){
            font-size: 2.3em;
        }
}