@font-face{
	font-family: "shrikhand";
	src: url(/fonts/Shrikhand-Regular.ttf) format('truetype');
}

@font-face{
	font-family: "roboto";
	src: url(/fonts/Roboto-Medium.ttf) format('truetype');
	font-weight: 500;
}

@font-face {
    font-family: "roboto-light";
    src: url(/fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}

h1{
    font-family: "shrikhand";
}

.index{
    h1{font-family: roboto;}
}

.fonction{
    p{
        font-family: roboto;
    }
}

h2, h3, strong{
    font-family: roboto;
}

h2{
    font-size: 1.4em;
    margin-left: 5%;
}

h3{
    font-size: 1.1em;
}

p{
    font-family: roboto-light;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

footer span{
    font-family: "shrikhand";
    font-size: 1.6em;
    color: whitesmoke;
}