.pages{

    &--content{

        @media (min-width: 768px) {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            background: linear-gradient(125deg, $color-tertiary, lighten($color-primary, 10%));
        }

        .banner{
            width: 100%;
        }

        h2{
            font-family: roboto-light;
            border-bottom: .2em solid $color-tertiary;
            width: 15%;

                @media (min-width: 576px) {
                    width: 8%;
                }

                @media (min-width: 768px) {
                    width: 7%;
                    font-size: 1.6em;
                }

                @media (min-width: 992px){
                    margin-bottom: 1.4em;
                }
        }
}

    .pages--text{
        position: relative;        
        background-color: $color-background;
        padding-top: 1em;
        margin-top: -2.5em;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        padding-bottom: 6em;
        max-width: 1000px;

            @media (min-width: 768px) {
                width: 90%;
                margin-top: -3em;
            }

            @media (min-width: 992px){
                margin-bottom: 2em;
                border-radius: 2em;
            }
    }

    .pages--title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 0.9em;

            @media (min-width: 576px){
                font-size: 1em;
            }

            @media (min-width: 768px){
                font-size: 1.3em;
            }

            @media (min-width: 992px){
                font-size: 1.6em;
            }

            i{
                font-size: 1.6em;
            }
    }   
}

.menu-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.pages section{

    article{
        width: 90%;
        min-height: 4em;
        max-width: 900px;
        margin-bottom: 1em;
        border-radius: 1em 1em;
        background-color: white;
        box-shadow: -2px 2px darken($color-background,10%);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;

            @media (min-width: 768px) {
                height: 6em;
            }

            @media (min-width: 992px){
                height: 7em;
                width: 80%;
                margin-bottom: 1.4em;
            }

            .detail{
                margin-left: 2.5%;
                display: flex;
                flex-direction: column;
                width: 80%;
            }
        }

    .description{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: .5em;
        margin-top: .3em;
        font-size: .9em;

            @media (min-width: 768px) {
                margin-top: .8em;
                margin-bottom: .8em;
                font-size: 1.2em;
            }
    }

    .price{
        margin-right: 5%;
        margin-bottom: .5em;
        z-index: 1;
        background: white;
        opacity: 1;

            @media (min-width: 768px) {
                margin-bottom: .8em;
                font-size: 1.2em;
            }
    }

    h3{
        margin: 0;
    }
}

.appear{
    position: absolute;
    right: 0;
    width: 0%;
    height: 100%;
    border-top-right-radius: 1em 1em;
    border-bottom-right-radius: 1em 1em;
    background-color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

        .fa-check-circle{
            color: white;
            font-size: 1.6em;
            @media (min-width: 768px){
                font-size: 2.4em;
            }
        }
}
